@import 'reset.css';
:root {
  --main-color: rgb(255, 149, 0);
  --border-color: rgba(128, 128, 128, 0.233);
  --font-color: grey;
}

.navi {
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
}

#logo {
  display: inline-block;
}
.navi__left_text {
  color: var(--main-color);
  font-weight: 900;
  font-size: 2rem;
  vertical-align: middle;
}

.navi__left_img {
  max-height: calc(4rem - 2px);
  vertical-align: middle;
}

.navi__right {
  color: var(--main-color);
}

.navi__right > * {
  line-height: 4rem;
  margin-left: 1rem;
}

main {
  position: relative;
}
.top {
  margin: 10px 0;
}

.top h1 {
  color: var(--font-color);
  font-weight: 100;
}

.top .addBtn {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: var(--font-color);
  margin-top: 2rem !important;
}

#output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid var(--border-color);
  text-align: center;
  color: var(--font-color);
}

.card p {
  margin: 0.5rem;
}

.card h3 {
  margin: 1rem;
}

.card > button,
form > button {
  padding: 10px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
  margin: 1.5rem 0.2rem 1rem;
}

.card button:first-of-type,
form > button {
  background-color: var(--main-color);
  color: white;
  border-color: var(--main-color);
}

.deleteBtn {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color) !important;
  padding: 10px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
}

.popup {
  text-align: center;
  width: 300px;
  background-color: #fff;
  margin: 10px auto;
  padding: 12px;
  color: var(--font-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0px 0px 0px 1800px rgb(0 0 0 / 65%);
  border-radius: 4px;
  display: none;
}
.dateIn {
  color: var(--font-color);
}
#closeX {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.w30 {
  width: 30%;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--font-color);
}

td,
th {
  padding: 0.3rem 1rem;
  border: 1px solid var(--main-color);
}
thead {
  text-align: left;
}
