@import 'reset.css';
:root {
  --main-color: rgb(255, 149, 0);
  --border-color: rgba(128, 128, 128, 0.233);
  --font-color: grey;
}

th,
td {
  border: 1px dotted var(--border-color);
}
.navi {
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
}

#logo {
  display: inline-block;
}
.navi__left_text {
  color: var(--main-color);
  font-weight: 900;
  font-size: 2rem;
  vertical-align: middle;
}

.navi__left_img {
  max-height: calc(4rem - 2px);
  vertical-align: middle;
}

.navi__right {
  color: var(--main-color);
}

.navi__right > * {
  line-height: 4rem;
  margin-left: 1rem;
}

.top {
  margin: 10px 0;
}

.top h1 {
  color: var(--font-color);
  font-weight: 100;
}

.top .addBtn {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: var(--font-color);
  margin-top: 2rem !important;
}

#output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  border: 1px solid var(--border-color);
  text-align: center;
  color: var(--font-color);
}

.card p {
  margin: 0.5rem;
}

.card h3 {
  margin: 1rem;
}

.card > button {
  padding: 10px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 1.5rem 0.2rem 1rem;
}

.card button:first-of-type {
  background-color: var(--main-color);
  color: white;
  border-color: var(--main-color);
}
.card button:last-of-type {
  background-color: white;
  color: var(--main-color);
  border-color: var(--main-color);
}
